body {
  margin: 30px;
  border: 2px;
  background-color: #eceff1;
}

h1 {
  margin: auto;
  width: 900px;
  text-align: center;
  font-size: 45px;
  padding-bottom: 30px;
}

#name a {
  color: #ffa41b;
}

a {
  text-decoration: none;
  color: #180000;
}

#booklist {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  width: 900px;
  margin: auto;
  border: none;
}

#booklist div {
  padding: 15px;
  border: #babdbe solid 1px;
}

#booklist li {
  list-style: none;
  font-weight: bold;
}

#booklist img {
  margin-top: 10px;
}
