h1 {
  margin: auto;
  width: 900px;
  text-align: center;
  color: orange;
  font-size: 45px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 30px;
  border: 2px;
}

#booklist {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  text-align: center;
  width: 900px;
  margin: auto;
  border: none;
}

#booklist div {
  padding: 15px;
  margin: 5px;
  border: orange solid 1px;
}

#booklist li {
  list-style: none;
  font-weight: bold;
}
#booklist img{
  margin-top: 10px;
}
