body {
  width:900px;
  margin: auto;
  border: orange solid 2px;
}

a {
  text-decoration: none;
}


#title h1 {
  padding: 20px;
  text-align: center;
  color: orange;
  font-size: 45px;
  border-bottom: solid orange 2px;
  margin-bottom: 0px;
}

#list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: orange solid 2px;
  font-size: 30px;
  color: black;
}

#list .booklist {
  border-right: orange solid 2px;
}

#summary {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  border-bottom: dashed 2px orange;
}

#summary .list {
  padding-left: 20px;
}


.co {
  color: gray;
}



.book {
  margin: 30px;
}

#text {
  display flex;
  flex-flow: row;
  font-size: 20px;
  margin: 20px;
  line-height: 30px;
}

#text div{
  border-bottom: dashed 1px orange;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


@media(max-width:700px) {
  #title h1 {
    padding: 20px;
    text-align: center;
    color: orange;
    font-size: 45px;
    border-bottom: solid orange 2px;
    margin-bottom: 0px;
  }

  #list {
    display: grid;
    grid-template-columns: 3fr 7fr;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-bottom: orange solid 2px;
    font-size: 15px;
    color: black;
    font-weight: bold;
  }

  #list .booklist {
    border-right: orange solid 2px;
  }

  #summary {
    display: none;
  }

  a {
    text-decoration: none;
  }

  .co {
    color: gray;
  }

  body {
    margin: 30px;
    border: orange solid 2px;
  }

  .book {
    margin: 30px;
  }

  #text {
    display grid;
    grid-template-columns: 1fr;
    margin: 20px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 500;
  }
}
