body {
  width:900px;
  margin: auto;
  margin-top:20px;
  margin-bottom: 20px;
  border: #e0e0e0 solid 2px;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}


#title h1 {
  padding: 20px;
  text-align: center;
  color: #ffa41b;
  font-size: 45px;
  border-bottom: solid #e0e0e0 2px;
  margin-bottom: 0px;
}

#list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: #e0e0e0 solid 2px;
  font-size: 30px;
  color: black;
}

#list .booklist {
  border-right: #e0e0e0 solid 2px;
}

#summary {
  display: grid;
  grid-template-columns: 300px 600px;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  border-bottom: dashed 2px #e0e0e0;
}

#summary .list {
  padding-left: 20px;
}

#summary li{
  margin-bottom: 10px;
}

.co {
  color: gray;
}



.book {
  margin: 30px;
}

#text {
  display flex;
  flex-flow: row;
  font-size: 20px;
  margin: 20px;
  line-height: 30px;
}

#text div{
  border-bottom: dashed 1px #e0e0e0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#topic{
margin:30px;
padding-bottom: 30px;
border-bottom: 3px dashed #e0e0e0;
}

#topic h2{
  color: #34515e;
}

#topic a{
  font-size:20px;
  font-weight: bold;
  color:black;
}
