body {
  margin-top: 100px;
  padding: 10px;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

strong {
  color: black;
  font-size: 20px;
  font-style: normal;
  border-bottom: solid gray 1px;
}

#header {
  margin: auto;
  width: 850px;
}

.head {
  position: fixed;
  top: 0;
  text-align: center;
  margin: auto;
  width: 850px;
  height: 103px;
  background-color: #eeeeee;
}

.head div {
  margin-top: 10px;
}

.name a {
  color: #ffa41b;
  font-weight: bold;
  font-size: 40px;
}

#header .name {
  font-size: 20px;
  font-weight: bold;
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  width: 850px;
  height: 30px;
  margin: auto;
}

.category div {
  margin-top: 3px;
}

.category a {
  color: #616161;
  font-weight: bold;
  font-size: 20px;
}

.RBBB {
  color: #607d8b;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 15px;
  padding-top: 15px;
}

#guide {
  margin: auto;
  width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  border-bottom: 2px dashed #bcbcbc;
}

#guide .goal {
  border-right: 1px dashed #bcbcbc;
  margin-top: 13px;
  padding-left: 20px;
}

#guide .advantage {
  padding-left: 20px;
  margin-top: 13px;
}

#guide ol {
  padding-left: 20px;
  font-size: 18px;
}

#main {
  margin: auto;
  width: 850px;
}

.booklist {
  text-align: center;
  font-size: 30px;
}

.booklist a {
  color: #607d8b;
}

#book {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  margin: auto;
  justify-content: space-around;
  border: #bdbdbd dashed 4px;
}

#book div {
  width: 250px;
  height: 350px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

#book img {
  margin-bottom: 10px;
}

#book a {
  color: #180000;
}

.topiclist {
  text-align: center;
  color: #607d8b;
  font-size: 25px;
}

#topic {
  display: flex;
  flex-flow: column wrap;
  width: 800px;
  margin: auto;
  margin justify-content: space-around;
  border: tomato dashed 4px;
}

#topic .issue {
  margin: 10px;
  font-size: 20px;
}

#topic a {
  color: #616161;
}

#bottom {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-top: 2px dashed #bcbcbc;
  width: 850px;
}

#bottom ol {
  padding-left: 20px;
}

#bottom li {
  margin-bottom: 20px;
  font-size: 20px;
}

#disqus_thread {
  margin: auto;
  width: 850px;
}
