body {
  margin-top: 100px;
  padding: 10px;
}

a {
  text-decoration: none;
}

strong {
  color: black;
  font-size: 20px;
  font-style: normal;
  border-bottom: solid gray 1px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  margin: auto;
  width: 100%;
  height: 103px;
  background-color: gray;
}

#header h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#header a {
  color: orange;
}

#guide {
  margin: auto;
  width: 850px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  border-bottom: 2px dashed #bcbcbc;
}

#guide .goal {
  border-right: 1px dashed #bcbcbc;
  margin-top: 13px;
  padding-left: 20px;
}

#guide .advantage {
  padding-left: 20px;
  margin-top: 13px;
}

#guide ol {
  padding-left: 20px;
  font-size: 18px;
}

#main {
  margin: auto;
  width: 850px;
}

.booklist {
  text-align: center;
}

.booklist a {
  color: tomato;
  font-size: 35px;
}

#book {
  display: flex;
  flex-flow: row wrap;
  width: 800px;
  margin: auto;
  justify-content: space-around;
}

#book div {
  width: 250px;
  height: 350px;
  text-align: center;
  margin: 5px;
  border-bottom: 1px dashed #bcbcbc;
  font-weight: bold;
  font-size: 20px;
}
#book img{
  margin-bottom: 10px;
}

#bottom {
  margin: auto;
  width: 850px;
}

#disqus_thread {
  margin: auto;
  width: 850px;
}
