h1{
  margin: 20px;
  text-align: center;
  color: orange;
  font-size: 45px;
}
a{
  text-decoration:none;
}
body{
  margin: 30px;
  border: 2px;
}
#booklist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  text-align: center;
  margin: 15px;
  border: none;
}
#booklist div{
  padding: 15px; margin:5px;
  border: orange solid 1px;
}
